
body{
	margin:0px;
	padding:0px;
	background:#000;
}
/*=========LEFT SIDE=========*/
#outer_lSide{
	float:left;
	width:21%;
	height:635px;
	margin:20px 0px 0px;
	margin-left:3%;
	/*background:#fff;*/
}
#inner_lSide{
	width:90%;
	margin:0px auto;
}
#searchImgBtn,#addTags,.removeTag{
	width:80%;
	margin:20px auto;
	margin-left:0px;
	height:40px;
	text-align:center;
	line-height:200%;
	background:#ddd;
	color:#000;
	cursor:pointer;
}
#searchImgBtn{
	width:90%;
	border-radius:10px;
}
#outerTagCon{
	margin-top:100px;
}
h2{
	color:#000;
}
h3{
	color:#fff;
}
#tagContainer input{
	width:80%;
	height:20px;
}
#addTags{
	width:25px;
	height:20px;
	margin:10px 0px 0px;
	line-height:140%;
}
.removeTag{
	display:inline-block;
	width:25px;
	height:20px;
	margin:10px 5px 0px;
	line-height:120%;
}
/*=========END LEFT SIDE========*/
/*=======RIGHT SIDE===========*/
#outer_rSide{
	float:right;
	width:69%;
	height:635px;
	margin:20px 0px 0px;
	margin-right:3%;
	background:#005522;
	border-radius:20px;
}
#outer_carousel{
	position:relative;
	overflow:hidden;
	width:90%;
	height:120px;
	margin:20px auto;
	background:#fff;
	border-radius:20px;
	border:1px solid green;
}
#leftMenuCar, #rightMenuCar{
 position:absolute;
 top:0;
 height:100%;
 width:60px;
 background:#aaa;
 opacity:0;
 z-index:50;
 cursor:pointer;
 transition:opacity 0.3s ease-in-out;
}
#leftMenuCar{
 left:0;
 border-radius-top-left:20px;
 border-radius-bottom-left:20px;
 border-right:1px solid #aaa;
}
#rightMenuCar{
 right:0;
 border-radius-top-right:20px;
 border-radius-bottom-right:20px;
}
#leftMenuCar:hover, #rightMenuCar:hover{
 opacity:0.5;
}
#leftMenuCar img, #rightMenuCar img {
 position:absolute;
 top: calc(50% - 17px);
}
#inner_carousel{
	position:absolute;
	top:23.5px;
	left:344px; 
	display:none;
	white-space:nowrap;
	width:auto;
	background:#fff;
	border-radius:0px;
	transition: left .6s ease-in-out;
   -moz-transition: left .6s ease-in-out;
   -webkit-transition: left .6s ease-in-out;
}
#inner_carousel img{
	cursor:pointer;
	opacity:0.2;
	vertical-align:bottom;
	margin-left:15px;
	margin-right:15px;
    transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
}
#inner_carousel img:nth-child(1){
	margin-left:0;
}
#inner_carousel img:last-of-type{
	margin-right:0;
}
#inner_mainImage{
	width:90%;
	height:450px;
	margin:20px auto;
	background:#fff;
	border-radius:20px;
	border:1px solid green;
}
/*========END RIGHT SIDE========*/