body{
	margin:0px;
	padding:0px;
	background:#000;
}
/*=========LEFT SIDE=========*/
#outer_lSide{
	float:left;
	width:21%;
	height:635px;
	margin:20px 0px 0px;
	margin-left:3%;
	/*background:#fff;*/
}
#inner_lSide{
	width:90%;
	margin:0px auto;
}
#fndImages,#addTags,.removeTag{
	width:80%;
	margin:20px auto;
	margin-left:0px;
	height:40px;
	text-align:center;
	line-height:200%;
	background:#ddd;
	color:#000;
	cursor:pointer;
}
#outerTagCon{
	margin-top:100px;
}
h2{
	color:#fff;
}
#tagContainer input{
	width:80%;
	height:20px;
}
#addTags{
	width:25px;
	height:20px;
	margin:10px 0px 0px;
	line-height:140%;
}
.removeTag{
	display:inline-block;
	width:25px;
	height:20px;
	margin:10px 5px 0px;
	line-height:120%;
}
/*=========END LEFT SIDE========*/
/*=======RIGHT SIDE===========*/
#outer_rSide{
	float:right;
	width:69%;
	height:635px;
	margin:20px 0px 0px;
	margin-right:3%;
	background:#fff;
	border-radius:20px;
}
#inner_carousel{
	width:90%;
	height:120px;
	margin:20px auto;
	background:#005522;
	border-radius:20px;
	border:1px solid green;
}
#inner_mainImage{
	width:90%;
	height:450px;
	margin:20px auto;
	background:#005522;
	border-radius:20px;
	border:1px solid green;
}
/*========END RIGHT SIDE========*/